<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>Document</title>
</head>
<body>
    <h1>
        wellcome soumya

    </h1>

    <h2>
        html forms

    </h2>
    <form action="/submit" method="post">
        <label for="science"> Science:</label><br>
        <input type="text" id="science" name="science" value="0"><br>
        <label for="maths"> maths:</label><br>
        <input type="text" id="maths" name="maths" value="0"><br>
        <label for="english"> engilsh:</label><br>
        <input type="text" id="english" name="english" value="0"><br>
        <input type="submit" value="SSubmit">
    </form>
</body>
</html>